@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
#app{
    
    font-family: 'Quicksand', sans-serif;
}

.card{
    width: 35rem;
}
.Custom {
    resize: none;
    outline: 0px;
    border: 0px;
    box-shadow: none !important;
    background: none;
}

.headertittle {
    color: rgb(187, 129, 158);
font-size: 50px;
}

.close {
	padding-right: 50px;
	position: relative;
    text-decoration: none;
}

.close:before,
.close:after {
    right: 0;
    top: 20px;
    transition: background-color .2s ease-in-out,transform .2s ease-in-out;
    width: 20px;
}

.close:hover::before {
    background-color: rgb(187, 129, 158);
	content: " ";
    height: 0.1em;
    size: 0.1em;
    position: absolute;
	transform: rotate(45deg);
}

.close:hover::after {
    background-color: rgb(187, 129, 158);
	content: " ";
    size: 0.1em;
    height: 0.1em;
    position: absolute;
	transform: rotate(-45deg);
}

.card{
  
        background: #fff;
        box-shadow:
          0 1px 1px rgba(0,0,0,0.15),
          0 10px 0 -5px #eee,
          0 10px 1px -4px rgba(0,0,0,0.15),
          0 20px 0 -10px #eee,
          0 20px 1px -9px rgba(0,0,0,0.15);
          padding: 30px;
      
}